<% provide(:title, 'About Us') %>
<p>
  In early April 2013 I made a pledge to myself to never have the same meal twice while eating out.  I also wanted to write brief reviews of each meal so I could work on my writing skills. 

  Browsing the available meal logging apps and blogging / microblogging sites I could not find one that really suited my needs (keep track of every meal I have tried at every restaurant, and let me blog about the meal).  So I decided I might as well try and build a site that fits these needs myself.

  Feel free to join in and share what you think about your own meals out on the town.

  ~Mike
</p>